extends base

block content 
  main.main
    .base-form.reset-form
      h2.heading-secondary.ma-bt-lg Reset your password
      form.form(method="POST", action=`http://localhost:3000/api/v1/users/resetPassword?_method=PATCH&token=${token}`)
        .form__group
          label.form__label(for='password') Password
          input#password.form__input(type='password', placeholder='••••••••',minlength='8',name="password", required)
        .form__group.ma-bt-md
          label.form__label(for='password') Confirm password
          input#password-confirm.form__input(type='password', placeholder='••••••••', required, name="passwordConfirm",minlength='8')
        .form__group
          button.btn.btn--green(type="submit") Change password